<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>snake?</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <style>
            body { font-family: 'cursive', 'Arial', sans-serif;
                   font-size: 15px;
                   background: rgb(61, 70, 68); color: rgb(255, 255, 255); 
                   position: absolute;
                   top: 50%;
                   left: 50%;
                   margin-right: -50%;
                   transform: translate(-50%, -50%);
                   width: 600px; height: 800px; text-align: center; }
            h1 { font-weight: normal; text-align: center; font-size: 300%; margin: 0 }
            h2 { font-weight: normal; text-align: center; font-size: 200%; margin: 0 0 1em; }
            p { text-align: center; margin: 0 }
            .score span {
                display: inline-block;
                width: -20em;
                text-align: center;
            }
            .score span.s {
                width: 1em;
                font-size: 150%;
            }
            .h { opacity: 0.25 }
            #field {
                border: 10px solid rgb(43, 35, 35);
                padding: 2px;
                margin: 1em 0;
                display: inline-grid;
                grid-template-columns: repeat(<%= size %>, 9px);
                grid-column-gap: 2px;
                grid-row-gap: 2px;
                justify-content: center;
                align-self: center;
                background: rgb(61, 70, 68);
            }
            .element {
                width: 5px;
                height: 5px;
                padding: 1px;
                border: 1px solid rgb(15, 36, 7);
                opacity: 0.5;
                background-color: rgb(90, 42, 8);
            }
            .element.s {
                opacity: 1;
                background: green;
            }
            .element.h {
                opacity: 1;
                background: #0C0;
            }
            .element.t {
                opacity: 1;
                background: rgb(146, 41, 22);
               /* background-image:url('/static/images/new.jpg');*/
            }  
        </style>
    </head>
    <body>
       <h1><marquee>Snek Game</marquee></h1> 
        <div id="field">
            <% for(let count = 0; count <= size-1; count++ ){ %>
               <% for(let count = 0; count <= size-1; count++ ){ %>
                <div class="element"> </div>
             <% } %>
            <% } %>
        </div>
        <p class="score"><span>SCORE:</span> <span id="score" class="s">0</span></p>
        <p class="score"><span>High Score:</span> <span id="score" class="s">959</span></p>
                
        <script src="static/snake.js"></script>
    </body>
</html>