# Ignore node modules
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# OS-specific
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Build output
.next
dist
build
coverage

# Docker and config files
Dockerfile
.dockerignore

# Misc
*.swp
*.swo
.vscode
.idea
*.tgz
